@charset "UTF-8";

@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    
    /*  은숙 @font-face 변경  */
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  font-family: 'Happiness-Sans-Title'; 
/*  은숙 font-family 변경  */
}

div {
	word-break : break-all;
}

.topBar {
	width : 900px;
	height : 30px;
	background-color: #fff;
	display : flex;
	justify-content: flex-end;
	margin : 0 auto;
}

.topBar > div {
	font-size : 12px;
	color : #8C8C8C;
	margin : 5px 0px;
	padding : 0px 30px;
}

a {
	text-decoration: none;
	color: inherit;
}

#login:hover, #joinMember:hover {
	background-color: #212529;
	color: #fff;
}

.top {
	width : 900px;
	height : 100px;
	margin : 0 auto;
	display : flex;
	justify-content: space-between;
	align-items : center;
	background-color: #fff;
}

.top > div {
	height : 70px;
	text-align : center;
}

.rogo {
	cursor : pointer;
	width : 150px;
	background-color: #FBF7FF;
}

#login, #mypageMenu {
	cursor : pointer;
	z-index: 2;
}

.search {
  position : relative;
  width : 300px;
  top: 50%;
  transform: translate(0%, -50%);
}

.search input {
  width: 90%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.search img {
  position : absolute;
  width: 17px;
  top: 10px;
  right : 15px;
  margin: 0;
}

.mypage {
	width : 150px;
}

#mypageMenu {
	padding : 2px 0px;
}

#mypageMenu:hover {
	background-color: #212529;
	color: #fff;
}

.bannerBack {
	height : 200px;
	background-color: #212529;
	padding : 30px 0px;
}

.banner {
	height : 102px;
	margin-right: auto;
    margin-left: auto;
}

.bannerText {
	text-align: center;
}

.bannerText #mainText {
	text-align: center;
	color : #fff;
	display : black;
    font-size: 3em;
    font-weight : bolder;
    margin-bottom: 5px;
}

.bannerText #subText {
	color : rgba(255, 255, 255, 0.5);
    display: block;
}

.navBar {
	height : 60px;
	background-color: #F5F5F5;
	padding : 5px 0px;
}

.navContanier {
	width : 900px;
	height : 100%;
	margin : 0px auto;
}

.navContanier ul {
	display : flex; 
	justify-content: space-between;
	padding-left: 0px;
}

.navContanier li {
	width : 100px;
	height : 30px;
	list-style: none;
	color : rgba(0, 0, 0, 0.55);
	text-align: center;
	font-size: 17px;
	font-weight: bolder;
}

.navContanier li:hover {
  color :  #212529;
  border-bottom: 3px solid #212529;
}

.boardContainer {
  width : 900px;
  margin : 0 auto;
  padding : 30px 0px;
  background-color: #fff;
}

.boardContainer > div {
	margin : 10px;
	padding : 10px;
}

.cardContainer {
	display : flex;
	flex-direction: row;
	flex-wrap : wrap;
	padding-top: 15px;
}

.card {
	flex : 0 0 auto;
	width : 25%;
	height : 300px;
	box-sizing: border-box;
}

.innerCard {
	margin : auto;
	width : 190px;
	height : 285px;
	display: flex;
	flex-direction: column;
	cursor : pointer;
}

.innerTop {
	width : 100%;
	height : 50%;
	overflow: hidden;
}

.innerTop img {
	width : 100%;
	height : 100%;
	object-fit : cover;
	border-radius: 10px;
}

.innerBottom {
	width : 100%;
	height : 50%;
}

.cardText {
	width : 100%;
	height : 90%;
	margin : auto;
	line-height: 1;
	text-align: left;
}

.board1 > #boardTag {
	margin-bottom: 0px;

}

#boardTag {
	font-size: 25px;
	font-weight: bold;
}

.tableBar {
  color: #666;
  font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

th, td {
  padding: 6px 15px;
}

th {
  background: #42444e;
  color: #fff;
  text-align: left;
}

tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}

td:first-child {
  border-left: 1px solid #c6c9cc;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.bottomBar {
	background-color: #F5F5F5;
	height : 180px;
	padding : 30px 0px;
}

.bottom {
	width : 900px;
	height : 100%;
	margin : 0px auto;
	position: relative;
}

.bottom > .text {
	margin-left : 20px;
	display : block;
	line-height: 2;
	font-size: 12px;
	position: absolute;
 	top: 50%;
	transform: translate(0, -50%);
}

.bottom ul {
	padding-left : 0px;
	list-style : none;
	display : flex; 
	flex-wrap : wrap;
	justify-content: flex-start;
	gap : 0px 15px;
}

ul > li {
	color : #666666;
}

.skip {
	/* 은숙수정 - 글 ... 처리 */
  overflow: hidden;  		 /* 을 사용해 영역을 감출 것 */
  text-overflow: ellipsis;   /* 로 ... 을 만들기 */
  white-space: nowrap; 		 /*아래줄로 내려가는 것을 막기위해 */
  word-break:break-all;
  width: 500px;
  height: 20px;
	
}


