@charset "UTF-8";
@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    
}

.h2{
	text-align: center; 
}
.loginContainer{
    
    width: 320px;
    background-color: #EEEFF1;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    padding: 30px;
    text-align: center;
    border: none;
    margin-bottom : 80px;
    
}

.text-field{
	font-size: 14px;
      padding: 10px;
      border: none;
      width: 250px;
      margin-bottom: 10px;
	
}

.submit-btn {
  font-size: 14px;
  border: none;
  padding: 10px;
  width: 260px;
  background-color: #1BBC9B;
  margin-bottom: 30px;
  color: white;
}

.login-alert {
    visibility: hidden;
}

.log-alert-view {
    display: flex;
    
}

