@charset "UTF-8";

.T{
text-align: center; 	
}

.te{
text-align: center;
}

.t{
background-color:#A4A4A4;	
}

.call{
color:blue;
position:fixed;
padding: 10px;
margin-left:100px; 
}

 .Left {
text-align:left;
position:fixed;
padding: 10px;
cursor: pointer;
margin-left:100px; 
}

.bt{
float:right; 	
}