@charset "UTF-8";

body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}

.topBar {
	width : 900px;
	height : 30px;
	background-color: #fff;
	display : flex;
	justify-content: flex-end;
	margin : 0 auto;
}

.topBar > div {
	font-size : 12px;
	color : #8C8C8C;
	margin : 5px 0px;
	padding : 0px 30px;
}

a {
	text-decoration: none;
	color: inherit;
}

#login:hover, #joinMember:hover {
	background-color: #212529;
	color: #fff;
}

.top {
	width : 900px;
	height : 100px;
	margin : 0 auto;
	display : flex;
	justify-content: space-between;
	align-items : center;
	background-color: #fff;
}

.top > div {
	height : 70px;
	text-align : center;
}

.rogo {
	width : 150px;
	background-color: #FBF7FF;
}

.search {
  position : relative;
  width : 300px;
  top: 50%;
  transform: translate(0%, -50%);
}

.search input {
  width: 90%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.search img {
  position : absolute;
  width: 17px;
  top: 10px;
  right : 15px;
  margin: 0;
}

.mypage {
	width : 150px;
}

#mypageMenu {
	padding : 2px 0px;
}

#mypageMenu:hover {
	background-color: #212529;
	color: #fff;
}

.bannerBack {
	height : 200px;
	background-color: #212529;
	padding : 30px 0px;
}

.banner {
	height : 102px;
	margin-right: auto;
    margin-left: auto;
}

.bannerText {
	text-align: center;
}

.bannerText #mainText {
	text-align: center;
	color : #fff;
	display : black;
    font-size: 3em;
    font-weight : bolder;
    margin-bottom: 5px;
}

.bannerText #subText {
	color : rgba(255, 255, 255, 0.5);
    display: block;
}

.navBar, .bottomBar {
	height : 60px;
	background-color: #F8F9FA;
	padding : 5px 0px;
}

.navContanier {
	width : 900px;
	margin : 0 auto;
}

.navContanier ul {
	padding : 5px 0px;
	display : flex; 
	justify-content: space-between;
	padding-left: 0px;
}

.navContanier li {
	width : 100px;
	height : 30px;
	list-style: none;
	color : rgba(0, 0, 0, 0.55);
	text-align: center;
	font-size: 17px;
	font-weight: bolder;
}

.navContanier li:hover {
  color :  #212529;
  border-bottom: 3px solid #212529;
}

.boardContainer {
  width : 900px;
  margin : 0 auto;
  padding : 30px 0px;
  background-color: #fff;
  border : 1px solid black;
}

.boardContainer > div {
	margin : 10px;
	padding : 10px;
	border : 1px solid black;
}

.cardContainer {
	display : flex;
	flex-direction: row;
	flex-wrap : wrap;
	padding-top: 15px;
}

.card {
	flex : 0 0 auto;
	width : 25%;
	height : 300px;
	border : 1px solid black;
	box-sizing: border-box;
}

.board1 > #subject {
	margin-bottom: 0px;

}
#subject {
	font-size: 25px;
	font-weight: bold;
}

.tableBar {
  color: #666;
  font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  padding: 6px 15px;
}
th {
  background: #42444e;
  color: #fff;
  text-align: left;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.bottom {
	width : 900px;
	height : 50px;
	margin : 0 auto;
}
